<p>
  <b>Name:</b>
  <%=h @program_category.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @program_category.description %>
</p>

<p>
  <b>Default do vod:</b>
  <%=h @program_category.default_do_vod %>
</p>

<p>
  <b>Default hidden:</b>
  <%=h @program_category.default_hidden %>
</p>


<%= link_to 'Edit', edit_program_category_path(@program_category) %> |
<%= link_to 'Back', program_categories_path %>
