<% index = 0 %>
<% offset = 0 %>
<% children.each { |program| %>
<div class="events_in_program_list">
  <div class="actions">
  <%#= link_to 'up', :action => 'move_event_up',
                    :id => @curprog.id,
                    :program_event_id => program.id%>
  <%#= link_to 'down', :action => 'move_event_down',
                      :id => @curprog.id,
                      :program_event_id => program.id %>

[
<%= link_to_remote 'unlink',
:update => 'programs',
:url => url_for(unlink_program_path(program.parent, program)) + "?src=programs",
:confirm => 'Are you sure you want to unlink?',
:method => :get,
:before => "Element.show('spinner')",
:success => "Element.hide('spinner')" %>

 <%= link_to_remote 'destroy',
:update => 'programs',
:url => url_for(program),
:confirm => 'Are you sure you want to destroy the whole program?',
:method => :delete,
:before => "Element.show('spinner')",
:success => "Element.hide('spinner')" %>

  ]
  </div>
  <div><b><%= index += 1 %>.</b>
  <%= format_length(offset) %>

  <% offset += program.target_length %>
  <%= format_length(offset) %>

  <%= link_to program.title, edit_program_path(program) %>
  </div>
</div>
<% } %>
