  <%= form.error_messages %>

<% unless @program.created_at.nil? %>
	<p>
	<span style="color: #ccc;">Created: </span><span style="color: #555; font-weight: bold;"><%= @program.created_at.strftime("%d.%m.%Y, %H:%M") %>, </span>
	<span style="color: #ccc;">Modified: </span><span style="color: #555; font-weight: bold;"><%= @program.updated_at.strftime("%d.%m.%Y, %H:%M") %></span></p>
<% end %>


<table>
<% @program.program_descriptions.each { |pd| %>
	<% langname = ProgramDescription.Languages[pd.lang]
		@program_description = pd
 %>
	<tr>
	<th colspan="2" onclick="toggleVisibility('desc_<%=pd.lang%>')" class="header"><%=image_tag 'icons/resultset_next.png', :alt => "Collapse" %> <%=langname%></th>
	</tr>

	<tr class="desc_<%=pd.lang%>">
	<th class="edit"></th>
	<td class="edit"><% index = pd.id || pd.lang %><%= hidden_field 'program_description', 'lang', 'index' => index %></td>
	</tr>

	<tr class="desc_<%=pd.lang%>">
	<th class="edit"><%= langname %> Title</th>
	<td class="edit"><%= text_field 'program_description', 'title', 'index' => index %> (cannot be empty)</td>
	</tr>

	<tr class="desc_<%=pd.lang%>">
	<th class="edit"><%= langname %> description</th>
	<td class="edit"><%= text_area 'program_description', 'description', 'index' => index %></td>
	</tr>

<% } %>


<tr>
<th colspan="2" onclick="toggleVisibility('generic')" class="header"><%=image_tag 'icons/resultset_next.png', :alt => "Collapse" %> Generic</th>
</tr>

<tr class="generic">
<th class="edit">Owner</th>
<td class="edit"><%= form.select :owner_id, User.find(:all, :order => "login ASC").collect {|t| [ t.to_s, t.id ] }, {}, {"class" => "options"} %></td>
</tr>

<tr class="generic">
<th class="edit">Program category</th>
<td class="edit"><%= form.select :program_category_id, ProgramCategory.SelectList, {}, {"class" => "options"} %></td>
</tr>

<tr class="generic">
<th class="edit">Target length <%=tooltip_format_time%></th>
<td class="edit"><%= form.text_field :formatted_target_length, :class => "time",
    'onChange' => "javascript:this.value = FormatLength(this.value)" %></td>
</tr>

<tr class="generic">
<th class="edit">Subprog target length <%=tooltip "This is the target length of all subprograms in this program"%></th>
<td class="edit"><%= @program.formatted_total_target_length %>
</td>
</tr>

<tr class="generic">
<th class="edit">Detected length <%=tooltip "This is the length of all files in the program"%></th>
<td class="edit"><%= @program.formatted_length %> (incl. subprog <%=@program.formatted_total_length %>)
</td>
</tr>

<tr class="generic">
<%# TODO: update tooltip %>
<th class="edit">Status <%= tooltip "Planning = A program idea or script exists.<br>Production = Filming, editing or setting up the studio has started.<br>Done = The program exists on the file server." %></th>
<td class="edit"><%= form.select  :status, Program.ProgramStatusList %></td>
</tr>

<tr class="generic">
<th class="edit">Program type</th>
<td class="edit"><%= form.select  :programtype, Program.ProgramTypeList %></td>
</tr>

<tr class="generic">
<th class="edit">Notes</th>
<td class="edit"><%= form.text_area 'notes', :rows => 5,
                       "onChange" => 'this.value=this.value.replace("&", " & ")' %></td>
</tr>
<tr class="generic">
<th class="edit">Quarantine</th>
<td class="edit"><%= form.datetime_select :quarantine %></td>
</tr>

<tr class="generic">
<th class="edit">Do vod</th>
<td class="edit"><%= form.check_box :do_vod %></td>
</tr>

<tr class="generic">
<th class="edit">Hidden</th>
<td class="edit"><%= form.check_box :hidden %></td>
</tr>

<tr>
<th colspan="2" onclick="toggleVisibility('fileinfo')" class="header"><%=image_tag 'icons/resultset_next.png', :alt => "Collapse" %> File information</th>
</tr>

<tr class="fileinfo">
<th class="edit">Preview image offset (hh:mm:ss) <%=tooltip_format_time%></th>
<td class="edit"><%= form.text_field 'formatted_preview_image_offset', 'class' => "time", 'onChange' => "javascript:this.value = FormatLength(this.value)"  %></td>
</tr>

<tr class="fileinfo">
<th class="edit"><label for"event_filename">Filename (descriptive part)</th>
<td class="edit"><%= form.text_field 'filename', 'class' => "text" %></td>
</tr>

<tr class="fileinfo">
<th class="edit">Actual filename</th>
<td class="edit"><%= @program.full_filename %> <%=@program.file_exists? ? "(found)" : "(not found)" %>, status updated: <%= @program.file_status_updated ? "Yes" : "No"%></td>
</tr>
<% if @program.file_status_updated %>
<tr class="fileinfo">
<th class="edit">Info</th>
<td class="edit">Resolution: <%= @program.file_resx%> x <%= @program.file_resy %> (<%= @program.file_aspect %>)</td>
</tr>
<% end %>

<tr>
<th colspan="2" onclick="toggleVisibility('tech')" class="header"><%=image_tag 'icons/resultset_next.png', :alt => "Collapse" %> Technical checklist</th>
</tr>

<tr class="tech">
<td colspan="2"><b>Main Control Unit (MCU)</b></td>
</tr>
<%=tech_text_field form, :mcu_auxout, "AUX output", "Default: PGM"%>
<%=tech_text_field form, :mcu_auxres, "AUX ImagePro resolution", "Default: 1080i50"%>

<%=tech_boolean_field form, :mcu_studiolaptop, "Studio laptop in use?"%>
<%=tech_boolean_field form, :mcu_hallpgm, "Hall AV PGM in use?"%>
<%=tech_boolean_field form, :mcu_stagepic, "Stage picture in use?"%>
<%=tech_boolean_field form, :mcu_recorded, "Program recorded at MCU?"%>
<%=tech_boolean_field form, :mcu_hastg, "Progam has TGs?"%>

<%=tech_number_field form, :cam_studio, "Cameras in studio", (0..3) %>
<%=tech_number_field form, :cam_foh, "Cameras in FOH", (0..2) %>
<%=tech_number_field form, :cam_stage, "Cameras on stage", (0..2) %>

<tr class="tech">
<td colspan="2"><b>Broadcasting Unit (BU)</b></td>
</tr>
<%=tech_boolean_field form, :is_broadcast, "Program is broadcast?"%>
<%=tech_boolean_field form, :bu_recorded, "Progam recorded at BU?"%>

<tr class="tech">
<td colspan="2"><b>Hall AV</b></td>
</tr>
<%=tech_boolean_field form, :hall_stagepic, "Stage picture in use?"%>
<%=tech_boolean_field form, :hall_bupgm, "BU PGM in use?"%>
<%=tech_boolean_field form, :hall_mcuaux, "MCU AUX in use?"%>
<%=tech_select_field form, :hall_sauna, "SAUNA SELECT output", { "Unknown" => 0, "BU PGM" => 1, "Hall AV PGM" => 2 } %>

<tr class="tech">
<td colspan="2"><b>Stage</b></td>
</tr>
<%=tech_boolean_field form, :stage_mcuaux, "MCU AUX in use?"%>
<%=tech_text_field form, :stage_output, "Stage output, please specify"%>


  
</table>
