<div class="flash_error">
	<%= flash[:error] %>
</div>

<% remote_form_for @rl,
	:update => 'runlist', 
	:before => "Element.show('spinner')",
	:success => "Element.hide('spinner')" do |form| %>
<%=form.hidden_field :program_id %>
<table>
  <% offset = 0 %>
  <tr class="header">
     <td>Nr</td>
     <td>Src</td>
     <td>Video</td>
     <td>Audio</td>
     <td>Content</td>
     <td>Length</td>
     <td>Total</td>
     <td>Notes</td>
     <td>Actions</td>
  </tr>
  <% for run in runlist %>
    <tr class="<%= @current_cycle = cycle('even', 'odd') %>">
		<td><%= run.position %></td>
		<td><%=h run.source %></td>
		<td><%=h run.video %></td>
		<td><%=h run.audio %></td>
		<td><%=h run.content %></td>
    <td><%= format_length(run.length) %></td>
    <% offset += run.length %>
    <td><%= format_length(offset) %></td>
		<td><%=h(run.info).gsub /\n/, "<br />" %></td>
		<td>
      [
			<%#= link_to 'edit',
				:url => edit_runlist_path(run) %>
			<%= link_to_remote 'edit',
				:update => 'runlist',
				:method => 'get',
				:url => url_for(edit_runlist_path(run)) + "?src=runlist",
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
			<%= link_to_remote 'delete',
				:update => 'runlist',
				:url => url_for(run) + "?src=runlist",
				:confirm => 'Are you sure you want to destroy the entry?',
				:method => :delete,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
			
			<%= link_to_remote 'up',
				:update => 'runlist',
				:url => up_runlist_path(run),
				:method => :get,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
			<%= link_to_remote 'down',
				:update => 'runlist',
				:url => down_runlist_path(run),
				:method => :get,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>

      ]
      </td>
    </tr>
  <% end %>

	<tr>
		<td></td>
		<td><%=form.text_field :source, :size => 3 %></td>
		<td><%=form.text_area :video, :cols => 20, :rows => 5 %></td>
		<td><%=form.text_field :audio, :size => 3 %></td>
		<td><%=form.text_field :content, :size => 30 %></td>
    <td><%=form.text_field :formatted_length, :size => 5, :class => "time",
		    'onChange' => "javascript:this.value = FormatLength(this.value)" %></td>
    <td></td>
		<td><%=form.text_area :info, :cols => 20, :rows => 5 %></td>
		<th><%=form.submit %></th>
	</tr>
</table>

<% end %>
