<table>
  <% offset = 0 %>
  <tr class="header">
     <td>Begin</td>
     <td>End</td>
     <td>Length</td>
     <td>Title</td>
     <td>Type</td>
     <td>File?</td>
     <td>Actions</td>
  </tr>
  <% for prog in subprograms %>
    <tr class="<%= @current_cycle = cycle('even', 'odd') %>">
    <td><%= format_length(offset) %></td>
    <% offset += prog.target_length %>
    <td><%= format_length(offset) %></td>
    <td><%= format_length(prog.target_length) %></td>
    <td>
      <%= link_to prog.title, prog %>
    </td>
    <td><%= prog.programtype %> (<%= prog.status %>)</td>
    <td><%= prog.file_exists? %></td>
      <td>
      [
			<%# TODO: implement unlink %>
			<%= link_to 'unlink', prog,
					:confirm => 'Are you sure you want to unlink?',
														 :method => :get %>
			<%= link_to 'destroy', prog,
					:confirm => 'Are you sure you want to destroy the item?',
														 :method => :delete %>
      ]
      </td>
    </tr>
  <% end %>
  
  <tr>
    <th align="right" colspan="2">Total length:</th>
    <td colspan="2"><%=format_length(offset)%></td>
  </tr>
  
  <tr>
    <th align="right" colspan="2">Target length:</th>
    <td colspan="2"><%=@program.formatted_target_length%></td>
  </tr>
  
  <tr>
    <th align="right" colspan="2">Difference:</th>
    <td colspan="2"><%=format_length((@program.target_length.to_i - offset).abs)%> <%=@program.target_length.to_i > offset ? "too little" : "<font color=\"red\">TOO MUCH!</font>"%></td>
  </tr>
</table>
