<div class="flash_error">
	<%= flash[:error] %>
</div>

<table>
  <% offset = 0 %>
  <tr class="header">
     <td>Begin</td>
     <td>End</td>
     <td>Length</td>
     <td>Title</td>
     <td>Type</td>
     <td>File?</td>
     <td>Actions</td>
  </tr>
  <% for prog in subprograms %>
    <tr class="<%= @current_cycle = cycle('even', 'odd') %>">
    <td><%= format_length(offset) %></td>
    <% offset += prog.target_length %>
    <td><%= format_length(offset) %></td>
    <td><%= format_length(prog.target_length) %></td>
    <td>
      <%= link_to prog.title, prog %>
    </td>
    <td><%= prog.programtype %> (<%= prog.status %>)</td>
    <td><%= tickimage prog.file_exists? %></td>
      <td>
			<%= link_to_remote (image_tag 'icons/link_break.png'),
				:update => 'subprograms',
				:url => unlink_program_path(@program, prog),
				:confirm => 'Are you sure you want to unlink?',
				:method => :get,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
			
			<%= link_to_remote (image_tag 'icons/delete.png'),
				:update => 'subprograms',
				:url => url_for(prog) + "?src=subprograms&parent=" + @program.id.to_s,
				:confirm => 'Are you sure you want to destroy the whole program?',
				:method => :delete,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
			
			<%= link_to_remote (image_tag 'icons/arrow_up.png'),
				:update => 'subprograms',
				:url => move_program_up_path(@program, prog),
				:method => :get,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
			<%= link_to_remote (image_tag 'icons/arrow_down.png'),
				:update => 'subprograms',
				:url => move_program_down_path(@program, prog),
				:method => :get,
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" %>
      </td>
    </tr>
  <% end %>

	<tr>
	<%#FIXME: Mysterious bug of wrong subprog id when adding after unlink%>
		<th>Add</th>
		<td colspan="6">
			<% form_remote_tag :url => {:action => "link", :id => @program.id},
				:update => 'subprograms', 
				:before => "Element.show('spinner')",
				:success => "Element.hide('spinner')" do %>

				<%=text_field_tag :subprog, nil, :size => 30 %><div class="auto_complete" id="subprog_auto_complete"></div>
				<%=auto_complete_field 'subprog', {:url => autocomplete_programs_path, :after_update_element => 'auto_complete_on_select' } %>
				<%=hidden_field_tag :subprog_id %>

				<%=submit_tag "Add"%>
			<% end %>
		</td>
	</tr>
  
  <tr>
    <th align="right" colspan="2">Total length:</th>
    <td colspan="2"><%=format_length(offset)%></td>
  </tr>
  
  <tr>
    <th align="right" colspan="2">Target length:</th>
    <td colspan="2"><%=@program.formatted_target_length%></td>
  </tr>
  
  <tr>
    <th align="right" colspan="2">Difference:</th>
    <td colspan="2"><%=format_length((@program.target_length.to_i - offset).abs)%> <%=@program.target_length.to_i > offset ? "too little" : "<font color=\"red\">TOO MUCH!</font>"%></td>
  </tr>
</table>
