<h1>Editing program <%= @program.program_descriptions.first.title%></h1>

<% form_for(@program) do |f| %>

	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<table class="editing">
<tr class="other">
  <th class="edit">Subprograms:</th>
  <td>

    <div id="subprograms">
    <%= render(:partial => 'subprograms', :object => @program.children) %>
    </div>

    <%= error_messages_for 'program_children' %>
		<%= image_tag("spinner.gif",
				:align => 'middle',
				:border=> 0,
				:id => "spinner",
				:style=>"display: none;") %>

  </td>
</tr>
</table>

<h3>Runlist:</h3>
<div id="runlist">
	<%= render(:partial => 'runlist', :object => @program.runlists) %>
</div>

<table class="editing">
<tr class="other">
  <th class="edit">Playlists:</th>
  <td>
	<table>
		<tr class="header">
			 <td>Channel</td>
			 <td>Start time</td>
			 <td>Movable</td>
			 <td>Actions</td>
		</tr>
		<% @program.playlists.each { |pl| %>
			<tr class="<%= @current_cycle = cycle('even', 'odd') %>">
			<td><%= pl.channel.name %></td>
			<td><%= pl.start_at %></td>
			<td><%= pl.movable %></td>
				<td>
				[
				<%# TODO: implement unlink %>
				<%= link_to 'edit', edit_playlist_path(pl) %>
				<%= link_to 'destroy', pl,
						:confirm => 'Are you sure you want to destroy the item?',
															 :method => :delete %>
				]
				</td>
			</tr>
		<% } %>
	</table>
  </td>
</tr>
</table>

<%= link_to 'Show', @program %> |
<%= link_to 'Back', programs_path %>
