<h1>Listing programs</h1>

<% form_tag programs_path, :id => :search, :method => :get do %>
	Find: <%= text_field_tag :desc, params[:desc] %>
	<%# TODO %>
	<%#= text_field_with_auto_complete :program_description, :title, {:skip_style => true, :value => @filter}, {:with => 'element=value + "&ignore_date_filter=" + $("ignore_date_filter").checked'}  %>

	User:
	<select name="find_by_user">
	<option value="0">All</option>
	<%= options_from_collection_for_select(User.find(:all, :order => "login ASC"), "id", "login", @user) %>
	</select>

	Category:
	<select name="find_by_category">
	<option value="0">All</option>
	<%= options_from_collection_for_select(ProgramCategory.find(:all, :order => "name"), "id", "name", @category) %>
	</select>

	<%=check_box_tag "ignore_date_filter", 1, params[:ignore_date_filter] %> Ignore date filter


	<%=submit_tag :Search %>
	<%= image_tag("spinner.gif",
		:align => 'middle',
		:border=> 0,
		:id => "spinner",
		:style=>"display: none;") %>

<% end %>


<div id="programs">
<%= render :partial => "list" %>
</div>

<%= observe_form 'search',
	:update => 'programs',
	:before => "Element.show('spinner')",
	:success => "Element.hide('spinner')",
	:url => programs_path,
	:method => :get,
	:frequency => 2 %>
