<h1>Listing users</h1>

<% form_tag do %>

<table>
  <tr>
		<th></th>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
    <th>Level</th>
  </tr>

<% for user in @users %>
  <tr>
		<td><%=check_box_tag "reminder[#{user.id}]" %></td>
    <td><%=h user.login %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h User.UserLevels[user.level] %></td>
  </tr>
<% end %>
</table>

<%=submit_tag "Send password reset links"%>
<% end %>
