<h1>Listing vod_files</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Full path</th>
  </tr>

<% for vod_file in @vod_files %>
  <tr>
    <td><%=h vod_file.filename %></td>
    <td><%=h vod_file.full_path %></td>
    <td><%= link_to 'Show', vod_file %></td>
    <td><%= link_to 'Edit', edit_vod_file_path(vod_file) %></td>
    <td><%= link_to 'Destroy', vod_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vod_file', new_vod_file_path %>
