<%= error_messages_for 'playlist' %>
<%= form.hidden_field :channel_id %>

<div class="playlist">
  <div class="playlist_header">
    <div class="playlist_cell">Program</div>
    <div class="playlist_cell">Start time</div>
    <div class="playlist_cell">Movable</div>
    <div class="playlist_cell"></div>
  </div>

  <div class="playlist_even">
    <div class="playlist_cell">
		<%=form.text_field :program %><div class="auto_complete" id="playlist_program_auto_complete"></div>
		<%=auto_complete_field 'playlist_program', {:url => autocomplete_programs_path, :after_update_element => 'auto_complete_on_select' } %>
		<%=form.hidden_field :program_id %>

		</div>

		

    <div class="playlist_cell"><%= form.datetime_select 'start_at' %></div>
    <div class="playlist_cell"><%= form.check_box :movable%></div>
    <div class="playlist_cell">
    <% if controller.action_name == "edit" %>
    <%= submit_tag "Update" %>
    <% else %>
    <%= submit_tag "Add to Playlist" %>
    <% end %>
    </div>
  </div>

</div>
