<table class="playlist" id="playlists">
  <tr class="playlist_header">
    <th class="playlist_cell" style="width: 13em;">Program</th>
    <th class="playlist_cell" style="width: 10em;">Status</th>
    <th class="playlist_cell" style="width: 1em;">Show&nbsp;in listing</th>
    <th class="playlist_cell" style="width: 12em;">Start time</th>
    <th class="playlist_cell" style="width: 5em;">Length<br><i>Target</i></th>
    <th class="playlist_cell" style="width: 1em;">Dif</th>
    <th class="playlist_cell" style="width: 12em;">End time</th>
    <th class="playlist_cell" style="width: 6em;">Movable</th>
    <th class="playlist_cell" style="width: 9.5em;">Actions</th>
  </tr>

<%
unless playlists.first.nil?
  end_time = playlists.first.start_at
else
  end_time = Time.at(0)
end
%>
<% @playlists.each {|playlist| %>
    <% next if playlist.program.nil? %>
  <% @current_cycle = cycle('playlist_even', 'playlist_odd') %>
  <% @error = "" %>
  <% if playlist.start_at > (end_time + 60) then @error = "error" end %>
  <% if playlist.start_at < end_time then @error = "error" end %>

  <% if(playlist.end_time > Time.now) %>
    <% if playlist.start_at > (end_time + 60) %>
    <tr>
      <td class="playlist_error_gap"></td>
      <td class="playlist_error_gap" colspan="3">
      <% if false and playlist.movable %>
                <%#FIXME%>
                <%= link_to_remote 'Fix gap by moving this', :url => { :action => :fix_by_moving,
                                                                                        :id => playlist,
                                                                                        :channel_id => @channel_id,
                                                                                        :difference => (end_time - playlist.start_at) } %>
      <% else %>
                Gap! <%#= (index > 1 ? link_to_remote('&nbsp;Pick time to start time&nbsp;', {:url => { :action => :pick_time, :id => playlists.at(index-1).id, :channel_id => @channel_id, :end_time => end_time}}, {"class" => "playlist_error"}) : "") %>
                <%= tooltip "You can fix this gap with a new entry or by changing this to a movable entry.<br>Picking new time will set the Start time to this gap." %>
      <% end %>
      </td>
      <td class="playlist_error_gap" colspan="6"><%= format_length(playlist.start_at - end_time) %></td>
    </tr>
    <% end %>

    <% if playlist.start_at < end_time %>
    <tr>
      <% if playlist.movable -%>
                <td class="playlist_error_overlap"></td>
                <td class="playlist_error_overlap" colspan="3">
                    Overlap!
                <%#FIXME%>
                    <%#= link_to_remote 'Fix overlapping by moving "' + playlist.program.title + '"',
                                :url => {   :action => :fix_by_moving,
                                                    :id => playlist,
                                                    :channel_id => @channel_id,
                                                    :difference => (end_time - playlist.start_at) } %></td>
                </td>
                <td class="playlist_error_overlap_nonmovable" colspan="6"><%= "-"+format_length(end_time - playlist.start_at) %></td>
                </td>
      <% else %>
                <td class="playlist_error_overlap_nonmovable"></td>
                <td class="playlist_error_overlap_nonmovable" colspan="3">Nonmovable overlap!
                <%= tooltip "You can fix this overlap by changing either entries<br>to movable type or changing the target length." %>
                </td>
                <td class="playlist_error_overlap_nonmovable" colspan="6"><%= "-"+format_length(end_time - playlist.start_at) %></td>
                </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>

  <tr class="<%= @current_cycle %>" <%if playlist.id == @current.id %>id="now_playing"<% elsif(playlist.end_time < Time.now) %>id="past_events"<% end %> >
    <td class="playlist_cell"><%= link_to playlist.program.title, :controller => 'programs', :action => 'edit', :id => playlist.program_id %> </td>
        <td class="playlist_cell"><%=playlist.program.status %><br/><span class="events"><%=
            t=Array.new
            playlist.program.children.each { |p|
                pt = p.programtype
                if pt == "Insert" then
                    tmp = content_tag(:span, pt, :onmouseover => "Tip('" + p.tooltip + "')")
                    tmp += " (No file!)" unless p.file_exists?
                    t << tmp
                elsif pt == "Live" then
                    tmp = content_tag(:span, pt, :onmouseover => "Tip('" + p.tooltip + "')")
                    tmp += " (old)" if p.file_exists?
                    t << tmp
                end
            }
            t.join(", ")
        -%>
        </span></td>
    <td class="playlist_cell"><%#= link_to playlist.no_listing ? "No" : "Yes" , :action => :toggle_show, :id => playlist %></td>
    <td class="playlist_cell"><%= playlist.start_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
    <td class="playlist_cell"><%= playlist.program.formatted_length %><br><span style="font-style: italic; font-size: 80%;">(<%= playlist.program.formatted_target_length unless playlist.program.formatted_target_length.empty? %>)</span></td>
    <td class="playlist_cell"><%= tooltip format_length(playlist.program.target_length - playlist.program.length) unless playlist.program.formatted_target_length.empty? %></td>
    <td class="playlist_cell"><%= playlist.end_time.strftime("%d.%m.%Y %H:%M:%S") %></td>
    <td class="playlist_cell" align="center"><% if playlist.movable %>&times;<% end %></td>
    <td class="playlist_cell">[
<% if current_user.level >= DIRECTOR %>
      <%= link_to 'Move', :action => 'edit', :id => playlist %>
            <%= link_to_remote 'Remove',
                :update => 'playlist',
                :url => params.merge(:id => playlist.id, :action => :destroy),
                :confirm => 'Are you sure you want to destroy the item?',
                :method => :delete,
                :before => "Element.show('spinner')",
                :success => "Element.hide('spinner')" %>
<% end %>
    ]</td>
  </tr>

  <% end_time = playlist.end_time %>
<% } %>
</table>
