<div></div>
<h2><%= Channel.find(params[:channel_id]).name %> playlist</h2>

<% form_tag :action => 'list' do %>
  <select name="channel_id" onChange="javascript: this.form.submit()">
    <%= options_from_collection_for_select(Channel.find(:all), "id", "name", params[:channel_id]) %>
  </select>
<%= submit_tag "Update", 'name' => 'update' %>

<% if params[:show_past].nil? %>
<%= link_to "Show past items", :show_past => 1 %>
<% else %>
<%= link_to "Hide past items", :show_past => 0 %>
<% end %>

<% end %>

<%= render :partial => 'playlists' %>

<br>

<h2>Add new item</h2>
<% form_for @playlist do |f| %>
<div id="playlist">
<%= render :partial => 'form', :object => f %>
</div>
<% end %>

