<h2><%= Channel.find(params[:channel_id]).name %> playlist</h2>

<div id="playlist">
<%= render :partial => 'playlists' %>
</div>

<% if params[:show_past] != "1" %>
<%= link_to "Show past items", :show_past => 1 %>
<% else %>
<%= link_to "Hide past items", :show_past => 0 %>
<% end %>

<br>
<% if current_user.level >= DIRECTOR %>

<h2>Add new item
<%= image_tag("spinner.gif",
		:align => 'middle',
		:border=> 0,
		:id => "spinner",
		:style=>"display: none;") %>
</h2>

<% remote_form_for @playlist, :update => :playlist, :before => "Element.show('spinner')", :success => "Element.hide('spinner')" do |f| %>
<div id="add_entry">
<%= render :partial => 'form', :object => f %>
</div>
<% end %>
<% end %>

