<table class="header_links">
  <tr>
    <th width="100px"><h2>Elaine3</h2></th>
    <td width="*"></td>
    <td class="header_menu">
<% if logged_in? -%>
            <div class="clearFix" style="width:45em;padding:0;background:#FFFFFF;border:1px solid;border-color:#5c5c5c;position: relative;">
                <div id="clock0" style="position: absolute; right: 5px; top: 2px;"><%= Time.now %></div>
                <ul id="Menu1" class="MM">
                    <li>
                        <%= link_to 'Elaine', root_path %>
                        <ul>
                            <li><%= link_to 'Frontpage', root_path %></li>
                            <li><%= link_to 'New Ticket', 'https://bugs.nodeta.fi/trac/elaine/newticket' %></li>
                            <li><%= link_to 'View Tickets', 'https://bugs.nodeta.fi/trac/elaine/report/1?sort=created&asc=1' %></li>
                            <li><%= link_to 'Flash scroller config', flashinfos_path %></li>
                        </ul>
                    </li>
<% if authorized?(:controller => "playlists") -%>
                    <li>
                        <%= link_to 'Playlists', channel_playlists_path(DEFAULT_CHANNEL) %>
                        <ul>
                            <li><%= link_to 'Playlists', channel_playlists_path(DEFAULT_CHANNEL) %>
                            <ul>
                            <% Channel.find(:all, :order => :name).each { |ch| %>
                                <li><%= link_to ch.name, channel_playlists_path(ch) %></li>
                            <% } %>
                            </ul>
                            </li>
                            <li><%= link_to 'Timeline', timeline_channel_playlists_path(DEFAULT_CHANNEL) %>
                            <ul>
                            <% Channel.find(:all, :order => :name).each { |ch| %>
                                <li><%= link_to ch.name, timeline_channel_playlists_path(ch) %></li>
                            <% } %>
                            </ul>
                            </li>
                            <!--<li><%= link_to 'Timeline', timeline_channel_playlists_path(DEFAULT_CHANNEL) %></li>-->
<% if authorized?(:controller => "channels") -%>
                            <li><%= link_to 'Reference Logs', reference_logs_path  %></li>
                            <li><%= link_to 'Edit channels', channels_path %></li>
<% end -%>
                        </ul>
                    </li>
<% end -%>

<% if authorized?(:controller => "programs") -%>
                    <li>
                        <%= link_to 'Programs', programs_path %>
                        <ul>
                            <li><%= link_to 'List Programs', programs_path %></li>
                            <li><%= link_to 'User\'s Programs', programs_path( :find_by_user => self.current_user.id ) %></li>
<% if authorized?(:controller => 'programs', :action => 'new') -%>
                            <li><%= link_to 'New Program', new_program_path %></li>
<% end -%>
<% if authorized?(ADMIN) -%>
                            <li><%= link_to 'Program categories', program_categories_path %></li>
                            <li><%= link_to 'Import PMS data', import_programs_path %></li>
<% end -%>
                        </ul>
                    </li>
<% end -%>

<% if authorized?(:controller => "tapes") -%>
                    <li>
                        <%= link_to 'Tapes', tapes_path %>
                        <ul>
                            <li><%= link_to 'List Tapes', tapes_path %></li>
<% if authorized?(:controller => 'tapes', :action => 'new') -%>
                            <li><%= link_to 'New Tape', new_tape_path %></li>
<% end -%>
                        </ul>
                    </li>
<% end -%>
<% if authorized?(ADMIN) -%>
                    <li>
                        <%= link_to 'Vods', vods_path %>
                        <ul>
                            <li><%= link_to 'List Vods', vods_path %></li>
                            <li><%= link_to 'Vod formats', vod_formats_path %></li>
                            <li><%= link_to 'Vod files', vod_files_path %></li>
                        </ul>
                    </li>
<% end -%>
<% if authorized?(ADMIN) -%>
                    <li>
                        <%= link_to 'Users', users_path%>
                        <ul>
                            <li><%= link_to 'List users', users_path %></li>
                            <li><%= link_to 'Send \'Change password\' links', reset_passwords_users_path %></li>
                            <li><%= link_to 'Add new user', new_user_path %></li>
                        </ul>
                    </li>
<% end -%>
                    <li>
                        <%= link_to 'Logout', logout_path %>
                    </li>
                </ul>
            </div>
<% end -%>
        </td>
    <td width="*"></td>
  </tr>
</table>
